<% title @title %>

<div class="high_box">
  <p>All Questions</p>
  <hr/>

  <%= render 'question_summary', locals: {questions: @questions} %>

</div>

<% content_for :sidebar do %>
    <div class="module" id="questions-count">
      <div class="summarycount"><%= Question.count %></div>
      <p>questions</p>
    </div>

<% end %>