<% title @title %>

<div class="high_box">

  <%= render 'questions/sort_panel' %>

  <%= render 'questions/question_summary', locals: {questions: @questions} %>

</div>

<% if current_page?(controller: 'questions') %>
    <%= render'shared/pages' %>
<% end %>

<% if current_page?(controller: :questions) %>
<% content_for :sidebar do %>
    <div class="module" id="questions-count">
      <div class="summarycount"><%= Question.count %></div>
      <p>questions</p>
    </div>

    <div class="tile">
      This
      is
      awesome
      sidebar
    </div>
<% end %>

<% end %>