<% title @title %>

<%= render 'questions/sort_panel' %>

<%= render 'questions/question_summary', locals: {questions: @questions} %>

<%= render'shared/pages' %>

<% if current_page?(controller: :questions) %>
<% content_for :sidebar do %>
    <div class="module" id="questions-count">
      <div class="summarycount"><%= Question.count %></div>
      <p>questions</p>
    </div>

    <div class="tile">
      This
      is
      awesome
      sidebar
    </div>
<% end %>

<% end %>