$("#question-body-<%= @question.id %>").html("<%= j render 'questions/body' %>");
$(".question_show_title h3").html("<%= @question.title %>");
$.jGrowl("<p>Question was updated!</p>", {theme: 'growl_success'});