= simple_form_for(:comment, url: comments_url(object.class.to_s, object.id ), role: "form", remote: true) do |f|
  = f.input :body, label: 'Your comment', input_html: { id: "input-#{object.class.to_s.downcase}-#{object.id}" }
  = f.submit 'Add Comment', class: 'btn btn-info'