= simple_form_for([object, object.comments.build], html: {id: "comment_form_#{object.class.to_s.downcase}_#{object.id}" }, role: "form", remote: true) do |f|
  = f.input :body, label: 'Your comment', input_html: { id: "input-#{object.class.to_s.downcase}-#{object.id}" }
  = f.submit 'Add Comment', class: 'btn btn-info', :"data-disable-with" => 'Savings...'