var ClipsContainer, idContainer;

ClipsContainer = $('#clips-list');
idContainer =  $('#answer_attachment_ids');

ClipsContainer .append("<li><%= j @clip.file.filename %></li>");

if ( idContainer.val() == "" ) {
    var arr = [];
}
else {
    var arr = idContainer.val().split(', ');
}

arr.push('<%= @clip.id %>');
arr.join(', ');
idContainer.val(arr);