
// TODO Переделать через DATA- или добавить спец. селекторы ко всем объектам, к которым идет обращение через JS
<% if @answer.errors.any? %>
    $("#answer-body-new").parent().parent().addClass('has-error');
    $(".help-block").remove();
    $("#answer-body-new").parent().append("<span class='help-block'><%= @answer.errors.full_messages.first %></span>");
<% else %>
    <% publish_to "/questions/#{@question.id}/answers" do %>
        $("#answers_qty").html("<%= pluralize(@question.answers.count, 'answer') %>:");
        $(".answers").append('<%= j render "answer", answer: @answer%>');
        $.jGrowl("<p>New answer was added!</p>", {theme: 'growl_success'});
    <% end %>
    $("#answer-body-new").parent().parent().removeClass('has-error');
    $(".help-block").remove();
    $("#answer-body-new").val('');
    $("#list-answer_new").html('');
    $("#attachment_ids-answer_new").val('');
<% end %>