.container, nav
  min-width: 768px
#main
  min-height: 700px

#submenu
  margin-bottom: 30px
  a
    margin-right: 20px
    &:last-child
      margin-right: 0

.btn-carrot
  color: #ffffff
  background-color: #E67E22
  &:hover
    background-color: #E67E22
.btn-concrete
  color: #ffffff
  background-color: #95A5A6
  &:hover
    background-color: #E67E22
.sort_panel
  li
    float: right


.growl_alert
  color: #ffffff !important
  background-color: firebrick !important

.growl_success
  color: #ffffff !important
  background-color: mediumseagreen !important

.growl_notice
  color: #ffffff !important
  background-color: #0066bb !important