.high_box
  min-height: 600px

.high_footer
  min-height: 170px

.summarycount
  color: #808185
  font-size: 300%
  font-weight: bold


// Questions on index pages

.question_list_item
  border-bottom: 1px solid #eaeaea
  overflow: hidden
  padding: 11px 0


.question_info
  width: 150px
  height: 50px
  float: left
  font-size: 10px
  text-align: center
  .votes, .status, .views
    width: 40px
    float: left
    padding: 5px
    margin-right: 3px
    .mini-counts
      font-size: 20px
      margin-bottom: 5px
      font-weight: normal
  .status
    width: 50px
  .unanswered
    color: lightcoral
  .answered
    background-color: #95a5a6
    color: #ffffff

  .views
    color: lightslategray

.question_box
  width: 79%
  float: right
  position: relative
  .asked_by
    float: right
    color: darkgray
    a
      text-transform: capitalize
  h3
    margin: 0
    font-size: 20px
    font-weight: normal
    margin-bottom: 10px
    .fui-heart
      margin-left: 15px
      color: lightpink
    small
      a
        color: gainsboro

.index_tag_list
  a
    border: 1px solid
    color: lightgray
    float: left
    margin-right: 5px
    margin-bottom: 5px
    &:hover
      color: #000000


// -----------------
.question_show
  .question_show_title
    margin-bottom: 30px
    h3
      font-size: 30px
      margin: 0
      font-weight: normal
      margin-bottom: 10px
    .meta
      .meta_block
        display: inline
        color: lightgray
        margin-right: 20px
        span
          margin-right: 7px
  .question_show_body
    word-spacing: 3px
    border-bottom: 2px solid lightgray
    .question_show_tag_list
      margin: 20px 0
      a
        border: 1px solid
        color: lightgray
        //float: none
        //margin-right: 5px
        margin-bottom: 5px
        &:hover
          color: #000000

// -----------------

.answers
  word-spacing: 3px
  margin-top: 10px
  .answers_header
    padding-bottom: 10px
  .answer_item
    padding: 20px 0 20px 20px
    border-bottom: 1px solid lightgray
  .answer_meta
    padding: 10px 0
    //margin-bottom: 10px
    .answer_author
      display: inline
    .answer_date
      float: right
      display: inline
      color: lightgray
      font-size: 12px

.answer_form
  margin: 20px 0

// -----------------

.question_show_comments
  margin-bottom: 20px
  .comment_list
    margin: 10px 0
    background-color: #f6f7f7
    padding: 15px
    .comment_item
      margin: 30px 0
      &:first-child
        margin-top: 0
      &:last-child
        margin-bottom: 0
      .comment_meta
        .comment_author
          display: inline
        .comment_date
          float: right
          display: inline
          color: lightgray
          font-size: 12px
      .comment_body
        margin: 10px 0

// -----------------

.question_body
  textarea
    resize: vertical


// -----------------
#questions-count p, div
  line-height: 1

.edit_question_icon
  margin-left: 20px

.sort_panel
  margin-bottom: 10px
  li
    a
      color: gray
  li.active
    a
      color: #428bca

.tag_cloud
  line-height: 2em
  .css1
    color: #cccccc
    font-size: 1.0em
  .css2
    color: #aaaaaa
    font-size: 1.2em
  .css3
    color: #999999
    font-size: 1.4em
  .css4
    color: #666666
    font-size: 1.6em
  .css5
    color: #333333
    font-size: 1.8em