.high_box
  min-height: 600px

.high_footer
  min-height: 170px

.summarycount
  color: #808185
  font-size: 300%
  font-weight: bold
.question-summary
  border-bottom: 1px solid #eaeaea
.asked_by

.summary

.question_body
  textarea
    resize: vertical

#questions-count p, div
  line-height: 1

.edit_question_icon
  margin-left: 20px